langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langchain
langchain-classic
langchain-teddynote
langchain-huggingface
faiss-cpu
pdfplumber
python-dotenv
pypdf
sentence_transformers
langgraph
ipywidgets